
     
   #kavya{
    background-color: black;
    text-align: center;
    color:white;
   }
   #h1{
    font-family:Libre Baskerville,sans-serif ;
   }
   #img{
    width:50%;
    height:100%;
    border-width:5px;
    border:solid white;
   }
   
